@page "/ticket"
@attribute [Authorize(Roles = "Junior, Mid, Senior")]

<h5>New Ticket</h5>

<br>
@if (!string.IsNullOrEmpty(ErrorMsg))
{
    <div class="error">
        @ErrorMsg
    </div>
}
<EditForm Model="@TicketModel" OnValidSubmit="@CreateTicket">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        @*<label for="ticketTtile">Title</label>*@
        <InputText @bind-Value="@TicketModel.Title" id="ticketTitle" class="form-control" placeholder="Title"/>
    </p>
    <p>
        @*<label for="ticketContent">Content</label>*@
        <InputTextArea @bind-Value="@TicketModel.Content" id="ticketContent" class="form-control" placeholder="Content"/>
    </p>
    <p>
        @*<label>Assign to</label>*@
        <InputSelect @bind-Value="@TicketModel.AssignedTo" class="form-select">
            <option value="@SupportType.Office">Office support</option>
            <option value="@SupportType.Office">Tech support</option>
        </InputSelect>
    </p>
    <p>
        <div class="custom-file">
            <label class="custom-file-label">Upload photo: </label>
            <InputFile class="custom-file-input" id="ticketAvatar" OnChange="@OnFileSubmit"></InputFile>
        </div>
    </p>
    <p>
        <div class="checkbox">
            <label>Make ticket private</label>
            <InputCheckbox @bind-Value="@TicketModel.IsPrivate" class="form-check-input" type="checkbox" id="ticketVsibility"></InputCheckbox>
        </div>
    </p>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-success">Add ticket</button>
    </div>
</EditForm>